h1 {
    font-family: font-title;
    letter-spacing: 6pt;
    word-spacing: 5pt;
}

h2 {
    letter-spacing: 3pt;
    word-spacing: 2.5pt;
}

article h1 {
    font-family: font-title;
    letter-spacing: 3pt;
    word-spacing: 2pt;
}

p {
    text-align: justify;
}
