
@font-face{
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  src: url(font-icon-path + ".eot?v=#" + font-icon-version);
  src: url(font-icon-path + ".eot?#iefix&v=#" + font-icon-version) format("embedded-opentype"),
       url(font-icon-path + ".woff?v=#" + font-icon-version) format("woff"),
       url(font-icon-path + ".ttf?v=#" + font-icon-version) format("truetype"),
       url(font-icon-path + ".svg#fontawesomeregular?v=#" + font-icon-version) format("svg");
}


@font-face{
  font-family: Architect;
  font-style: normal;
  font-weight: normal;
  src: url(font-architect-path + ".eot?v=#" + font-architect-version);
  src: url(font-architect-path + ".eot?#iefix&v=#" + font-architect-version) format("embedded-opentype"),
       url(font-architect-path + ".woff?v=#" + font-architect-version) format("woff"),
       url(font-architect-path + ".ttf?v=#" + font-architect-version) format("truetype"),
       url(font-architect-path + ".svg#fontawesomeregular?v=#" + font-architect-version) format("svg");
}

@font-face{
  font-family: Neogrey;
  font-style: normal;
  font-weight: normal;
  src: url(font-neogrey-path + ".eot?v=#" + font-neogrey-version);
  src: url(font-neogrey-path + ".eot?#iefix&v=#" + font-neogrey-version) format("embedded-opentype"),
       url(font-neogrey-path + ".woff?v=#" + font-neogrey-version) format("woff"),
       url(font-neogrey-path + ".ttf?v=#" + font-neogrey-version) format("truetype"),
       url(font-neogrey-path + ".svg#fontawesomeregular?v=#" + font-neogrey-version) format("svg");
}

@font-face{
  font-family: Spaceman;
  font-style: normal;
  font-weight: normal;
  src: url(font-spaceman-path + ".eot?v=#" + font-spaceman-version);
  src: url(font-spaceman-path + ".eot?#iefix&v=#" + font-spaceman-version) format("embedded-opentype"),
       url(font-spaceman-path + ".woff?v=#" + font-spaceman-version) format("woff"),
       url(font-spaceman-path + ".ttf?v=#" + font-spaceman-version) format("truetype"),
       url(font-spaceman-path + ".svg#fontawesomeregular?v=#" + font-spaceman-version) format("svg");
}